<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <h2>Iniciar sesión</h2>
    {% if mensajeDeError %}
        <p style="color: red;">{{ mensajeDeError }}</p>
    {% endif %}
    <form class="loginIngreso"  action="/login"  method="post" >
        <p>Usuario: <input type="text" name="usuario"></p>
        <p>Contraseña: <input type="password" name="contrasenia"></p>
        <p><input type="submit" value="Iniciar sesión"></p>
    </form>
</body>
</html>
 -->



 <!DOCTYPE html>
 <html lang="es">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/app.css">
     <title>Iniciar sesión</title>
 </head>
 <body>
     <h2>Iniciar sesión</h2>
     {% if mensajeDeError %}
         <p style="color: red;">{{ mensajeDeError }}</p>
     {% endif %}
     <form class="loginIngreso"  action="/login"  method="post" >
         <p>Usuario: <input type="text" name="usuario"></p>
         <p>Contraseña: <input type="password" name="contrasenia"></p>
         <p><input type="submit" value="Iniciar sesión"></p>
     </form>
    
 </body>
 </html>
 